{% macro entrysummary(dataset, place, record, scoredQuestions) -%}
  <td>
    {% if record %}
      {{ record.ycount }}
    {% else %}
      -
    {% endif %}
  </td>
  <td{% if record %} data-place="{{ record.place }}" data-dataset="{{ record.dataset }}" data-datasetTitle="{{ dataset.title }}"{% endif %}>
    <ul class="availability icons">
      {% for qu in scoredQuestions %}
        {% set state = record[qu.id] %}
        <a data-toggle="tooltip" title="{{ qu.question|escape }}">
        <li class="{% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == 'Unsure' %}maybe{% endif %}">
          <i class="icon-{{ qu.icon }}"></i>
          <span class="text">{{ state }}</span>
        </li>
        </a>
      {% endfor %}
    </ul>
  </td>
  {% if record and record.url %}
    <td class="recordurl">
        <a href="{{record.url}}" title="{{record.url}}" target="_blank">{{record.url }}</a>
    </td>
    {% else %}
    <td><!-- No URL given --></td>
    {% endif %}
    {% if record and record.details %}
    <td class="recorddetails">
        {{ record.details }}
    </td>
    {% else %}
    <td></td>
    {% endif %}
{%- endmacro  %}
